doctype html
html(ng-app="hangmanApp")
  head
    title Hangman Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/index.css')
    link(rel='shortcut icon', type='image/png', href='/public/favicon.ico')
    block head

  body(ng-controller="HangmanController")
    block body

    script(src='/public/js/angular.min.js')
    script(src='/public/js/index.js')
    block scripts
