doctype html
html
  head
    title Hangman Game
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/css/bootstrap.min.css')
    link(rel='stylesheet', href='/public/css/index.css')
    block head

  body
    block body

    script(src='/public/js/jquery.min.js')
    script(src='/public/js/bootstrap.min.js')
    script(src='/public/js/index.js')
    block scripts
